config QTI_QMI_HELPERS
	bool "QTI QMI Helpers"
	depends on QTI_QRTR
	select QMI_HELPERS
	help
          Helper library for handling QMI encoded messages.  QMI encoded
          messages are used in communication between the majority of QRTR
          clients and this helpers provide the common functionality needed for
          doing this from a kernel driver.

config QMI_HELPERS
	bool
	help
	  Drivers which using QMI service/client should use this config. This is
	  added to support QMI helper library from both msm kernel and EAP. QMI
	  encoded messages are used in communication between QRTR clients.
	  QTI_QMI_HELPERS will select this config.
