config QTI_USB_F_DIAG
	bool "USB diag function"
	depends on USB_LIBCOMPOSITE
	help
	  Diag function driver enables support for QTI diagnostics
	  port over USB.

config QTI_USB_DIAG_BRIDGE
	tristate "USB QTI diagnostic bridge driver"
	depends on USB
	help
	  This driver communicates with the diagnostic interface and
	  allows for bridging with the diag forwarding driver.
